.Post{
    background-color: rgb(237, 237, 237);
    border: solid white 1px;
    box-sizing: border-box;
    min-height: calc(100vh - 65px);
}
.Post_setPost{
   display: flex;
   align-items: center;
   cursor: pointer;
}
.PostBody{
    height: calc(100vh - 65px);
    overflow-y: scroll;
}
.PostBody::-webkit-scrollbar{
    width: 10px;
}
.PostBody::-webkit-scrollbar-thumb{
    background-color: rgb(187, 187, 187);
}
.PostTittle{
    color: gray;
}
.posFix{
    position: fixed;

}
.cards{
    
    border-radius: 10px;
    background-color: white;
    border: solid rgb(201, 201, 201) 1px;
    margin: 20px;
    padding: 10px;
}
.PostSeguidores{
    max-height: 400px;
}
.PostPerfilCompleto{
    max-height: 300px;
}
.PostContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.textarea {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 600px;
} 
.PostModal{
    
    z-index: 3;
}
.PostImage{
    
    max-width: 100%;
    max-height: 400px;
}

@media (max-width:500px) {
    .PostContainer{
        grid-template-columns: 1fr;
    }
    .PostSeguidores,.PostPerfilCompleto{
        display: none;
    }
}